html, body {
	background-color: hsl(0, 0%, 8%);
}

body {
	font-family: Calibri, sans-serif;
	line-height: 1.2;
	color: hsl(0, 0%, 70%);
}

main {
	position: relative;
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;
	flex-wrap: nowrap;
}

section {
	position: relative;
	width: 100%;
	padding: 0 16px;
}

@media (min-width: 576px) {
	section {
		width: 572px;
	}
}
@media (min-width: 768px) {
	section {
		width: 752px;
	}
}
/* @media (min-width: 992px) {
	section {
		width: 960px;
	}
} */

#canvas-wrap {
	position: relative;
	/* 16:9 Aspect Ratio */
	/* padding-top: 56.25%; */
	/* 4:3 Aspect Ratio */
	padding-top: 75%;

	/* overflow: hidden;
	background-color: #060606;
	border-radius: .25rem;
	border: 1px solid hsl(0, 0%, 50%);
	box-shadow: 2px 2px 6px hsl(0, 0%, 4%); */
}
#canvas-wrap canvas {
	position: absolute;
	top: 0;
	left: 0;
}