html {
	background-color: hsl(0, 0%, 8%);
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	line-height: 1.2;
	color: hsl(0, 0%, 70%);
}

main {
	position: relative;
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	flex-direction: column;
	flex-wrap: nowrap;
}

section {
	width: 100%;
	padding: 2rem 1rem;
}

#cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	gap: 2rem;
}

.card {
	position: relative;

	background-color: hsl(0, 0%, 6%);
	border-radius: 0.25rem;
	box-shadow: 0 0.1rem 0.5rem hsl(0, 0%, 4%);
	border: 1px solid hsl(0, 0%, 10%);

	overflow: hidden;
}

.card::before {
	content: '';
	display: block;
	padding-top: 100%;
}

.card-body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.card-thumb {
	width: 100%;
	height: 100%;
}
.card-title {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;

	background-color: rgba(0, 0, 0, 0.6);
	opacity: 1;
	transition: opacity .3s;
}
.card-title h2 {
	padding: 0.5rem 1rem;
	font-size: 1.125rem;
	text-shadow: 1px 1px 3px #000;
}
.card.running .card-title {
	opacity: 0.05;
}
.card.running:hover .card-title {
	opacity: 1;
}
.card-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;

}
.card-loader::before {
	width: 3.25rem;
	height: 3.25rem;

	font-size: 2.5rem;
	text-align: center;
	line-height: 3.25rem;
	color: #fff;

	background-color: #000;
	border-radius: 50%;
	border-color: #fff;
	border-width: 1px;
	border-style: solid;

	opacity: 0.5;
	transition: opacity .3s;
}
.card:hover .card-loader::before {
	opacity: 0.875;
}
.card.ready .card-loader::before {
	content: '';
	background: url('../img/ready.png');
	background-size: contain;
}
.card.pending .card-loader::before {
	content: '';
	background: url('../img/pending.png');
	background-size: contain;
}
.card.running .card-loader::before {
	content: '';
	background: url('../img/running.png');
	background-size: contain;
	opacity: 0.05;
}
.card.running:hover .card-loader::before {
	opacity: 0.5;
}


@media (min-width: 576px) {
	section {
		width: 540px;
	}
}
@media (min-width: 768px) {
	section {
		width: 720px;
	}
}
@media (min-width: 992px) {
	section {
		width: 960px;
	}
}

a,
a:hover,
a:active,
a:focus,
a:visited {
	color:hsl(0, 0%, 70%);
	font-weight: bold;
}

#social a {
	display: inline-block;
	position: relative;
	height: 2rem;
}
#social a img {
	position: relative;
	height: 1.25rem;
	top: 0.325rem;

	padding-right: 0.375rem;
}