footer {
	background: #101010;
	border-top: 1px solid #242424;

	div {
		padding: 2rem;
	}
	p {
		line-height: 4rem;
		margin: 0;
	}
}

@media (--mq-min-480) {
	footer div {
		display: flex;
		justify-content: space-between;
	}
}

#ul-socials {
	display: flex;
	justify-content: center;
	gap: 2rem;

	li {
		min-width: 3rem;
		min-height: 3rem;
	}

	span:first-of-type {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	span:last-of-type {
		display: none;
	}
	svg {
		height: 2.5rem;
	}
}
