#section-projects {
	.project-card {
		overflow: hidden;

		background-color: #121212;
		border-radius: 0.5rem;
		border: 1px solid #242424;
		box-shadow: 0 0.25rem 1rem -0.5rem #000;

		display: flex;
		flex-direction: column;
	}

	.project-thumb {
		position: relative;
		aspect-ratio: 16 / 9;
		display: flex;
		align-items: center;

		border-bottom: 1px solid #242424;
		background-color: var(--clr-greenhouse);

		overflow: hidden;

		img {
			color: transparent;
			object-fit: cover;
			opacity: 1;
			filter: saturate(25%);
			transition: opacity 0.3s ease-in;

			&.hidden {
				opacity: 0;
			}
		}

	}

	.project-content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 1.5rem;
		padding: 1rem;
	}
	.project-descr {
		flex: 1 1 auto;

		h4 {
			text-align: left;
		}
		p {
			margin: 0;
			text-align: left;
			line-height: 1.5rem;
		}
	}
	.project-links {
		flex: 0 1 auto;
		display: flex;
		gap: 0.5rem;

		a {
			flex: 1 1 auto;
			padding: 0.5rem 0;
			text-align: center;
			border-radius: 0.25rem;
			border: 1px solid var(--clr-grass);
			transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		}
		a:hover,
		a:focus-visible {
			text-decoration: none;
			background-color: var(--clr-emerald-rain);
			border-color: var(--clr-emerald-rain);
			color: #121212;
		}
	}
}
