#section-welcome {
	height: 100vh;

	#div-welcome-header {
		z-index: 1;
		background-image: linear-gradient(to bottom, #09090999 50%, transparent);
	}

	#div-welcome-pfp {
		position: absolute;

		inset: 0;
		z-index: -1;

		display: flex;
		align-items: flex-end;
		padding-bottom: 5rem;

		justify-content: center;
	}

	#div-pfp {
		position: relative;
		width: min(100%, 480px);
		aspect-ratio: 3 / 4;

		display: flex;
		justify-content: center;
		align-items: flex-end;

		#img-pfp-bg {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
		}

		#img-pfp {
			height: min(128px, 20%);
			margin-bottom: 7.5%;
		}
	}

	&.loading {
		#img-pfp-bg,
		#img-pfp {
			display: none;
		}
	}
}

@media (--mq-min-960) {
	#section-welcome {
		#div-welcome-header {
			width: 380px;
			background-image: none;
		}
		#div-welcome-pfp {
			justify-content: flex-end;
		}
	}
}
